@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --white: #f7f7f7;
  --black: #202020;
  --red: #be0000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  image-rendering: -webkit-optimize-contrast;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  background-image: url(assets/img-noise.png);
  font-family: "Courgette", cursive;
}

nav {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
  background-image: url(assets/img-noise.png);
  padding: 1rem 8rem;
  z-index: 1;
  position: fixed;
}

.navbar {
  display: flex;
}

.navbar li {
  padding: 0rem 1rem;
}

.navbar a,
.title-logo {
  color: #202020;
  font-size: 1.2rem;
  font-weight: 900;
  transition: border 0.2s;
}

.navbar a:hover,
.navbar a:focus {
  border: 5px double var(--black);
}
/* INTRO SECTION */
.intro {
  width: 99vw;
  height: 99vh;
  overflow: hidden;
  position: relative;
}

.intro video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 1%;
  z-index: 3;
  width: 100%;
  height: 100%;
  animation: scale-video 3s ease 0.8s forwards;
}
/* INTRO SECTION */
/* MAIN SECTION */
.main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  box-shadow: inset 0 0 150px var(--black);
}

.left,
.middle,
.right {
  position: relative;
  overflow: hidden;
}

figure {
  min-width: 150px;
  max-width: 300px;
  height: auto;
}

figure img {
  border-radius: 2%;
  width: 110%;
  height: 110%;
}

.left-img-1 {
  position: absolute;
  top: 35%;
  left: 15%;
}

.left-img-3 {
  position: absolute;
  top: 55%;
  left: 10%;
}

.middle {
  margin: auto;
}

.middle-text {
  text-align: center;
  font-size: 2rem;
  display: grid;
  word-wrap: normal;
}

.right-img-1 {
  position: absolute;
  top: 85%;
  left: 35%;
}

.right-img-2 {
  position: absolute;
  top: 85%;
  left: 0%;
}

.right-img-3 {
  position: absolute;
  top: 85%;
  left: 45%;
}
/* MAIN SECTION */
/* SECOND SECTION */
.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: inset 0 0 150px var(--black);
  height: 100vh;
}

.left-second,
.right-second {
  overflow: hidden;
  position: relative;
}

.left-second {
  margin: auto;
}

.left-text {
  font-size: 2rem;
  text-align: center;
  display: grid;
  word-wrap: normal;
}

.right-second-img-1 {
  position: absolute;
  top: 85%;
}
.right-second-img-2 {
  position: absolute;
  top: 180%;
  left: 15%;
  z-index: 1;
}
.right-second-img-3 {
  position: absolute;
  top: 85%;
  left: 5%;
}
.right-second-img-4 {
  position: absolute;
  top: 90%;
  left: 35%;
}
.right-second-img-5 {
  position: absolute;
  top: 135%;
  left: 40%;
}
/* SECOND SECTION */
/* THIRD SECTION */
.third {
  padding-top: 5rem;
  box-shadow: inset 0 0 150px var(--black);
}

.top-text {
  text-align: center;
  font-size: 2rem;
}

.splide {
  margin-top: 5rem;
  padding: 0 2rem 0 2rem;
}

.splide__slide__container {
  border-radius: 2%;
  width: 100%;
}

.splide__slide {
  padding: 2rem;
}

.splide__slide img {
  width: 100%;
  height: auto;
}
/* THIRD SECTION */
/* CATEGORIES */
.categories {
  background-color: #202020;
  background-image: url(assets/img-noise.png);
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: inset 0 0 150px var(--white);
}

.categories:hover h1,
.categories:focus h1 {
  border-bottom: 10px double var(--white);
}

.categories h1 {
  text-align: center;
  color: var(--white);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  border-top: 10px double var(--white);
  border-bottom: 0px double var(--white);
  transition: border-bottom 0.2s;
  letter-spacing: 5px;
}

.categories-grid {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
  grid-gap: 2rem;
}

.div-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-img {
  width: 750px;
  height: 550px;
}

.category-img {
  border-radius: 2%;
  object-fit: cover;
  display: block;
  margin: auto;
  width: 110%;
  height: 110%;
}

.categories-text {
  margin: auto;
}

.categories-button {
  color: var(--white);
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 900;
  border: 10px double var(--white);
  border-radius: 5px;
  transition: border 0.2s;
}

.categories-button:hover,
.categories-button:focus {
  cursor: pointer;
  border: 15px double var(--white);
}
/* CATEGORIES */
/* CONTACT */
.contact-section {
  height: 75vh;
  background-color: var(--red);
  background-image: url(assets/img-noise.png);
  display: grid;
  grid-template-columns: 10% 10% 40% 40%;
  box-shadow: inset 0 0 150px var(--white);
  position: relative;
}

.contact-left-img {
  position: absolute;
  top: 10%;
  left: 10%;
}

.contact-right-img {
  position: absolute;
  top: 40%;
  left: 15%;
}

.contact {
  text-align: end;
  padding-top: 40%;
  padding-right: 50px;
}

.contact a {
  color: var(--white);
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  border: 10px double var(--white);
  border-radius: 5px;
  transition: border 0.2s;
}

.contact a:hover,
.contact a:focus {
  cursor: pointer;
  border: 15px double var(--white);
}

.contact-text {
  color: var(--white);
  font-size: 2rem;
  text-align: start;
  padding-top: 40%;
  padding-right: 50px;
}
/* CONTACT */
/* FOOTER */
footer {
  padding: 1.5rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #202020;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--white);
  background-image: url(assets/img-noise.png);
}
/* FOOTER */
/* MAIN-PORTFOLIO */
.main-portfolio {
  min-height: 130vh;
  background-color: var(--black);
  background-image: url(assets/img-noise.png);
  box-shadow: inset 0 0 150px var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.middle-portfolio {
  display: grid;
  place-content: center;
}

.middle-portfolio > div {
  padding-top: 10rem;
  text-align: center;
}

.categories-button-white {
  color: var(--white);
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 900;
  border: 10px double var(--white);
  border-radius: 5px;
  transition: border 0.2s;
  display: inline-block;
}

.categories-button-white:hover,
.categories-button-white:focus {
  cursor: pointer;
  border: 15px double var(--white);
}

.right-portfolio {
  position: relative;
}

.right-portfolio-img-1 {
  position: absolute;
  top: 20%;
  left: 0;
}

.right-portfolio-img-2 {
  position: absolute;
  top: 40%;
  left: 5%;
}

.right-portfolio-img-3 {
  position: absolute;
  top: 50%;
  left: 35%;
}

.right-portfolio-img-4 {
  position: absolute;
  top: 60%;
  left: 0;
}

.right-portfolio-img-5 {
  position: absolute;
  top: 70%;
  left: 25%;
}

.left-portfolio {
  position: relative;
}

.left-portfolio-img-1 {
  position: absolute;
  top: 20%;
  left: 20%;
}

.left-portfolio-img-2 {
  position: absolute;
  top: 40%;
  left: 55%;
}

.left-portfolio-img-3 {
  position: absolute;
  top: 50%;
  left: 45%;
}

.left-portfolio-img-4 {
  position: absolute;
  top: 60%;
  left: 5%;
}

.left-portfolio-img-5 {
  position: absolute;
  top: 70%;
  left: 35%;
}
/* MAIN-PORTFOLIO */
/* ANIMATIONS */
@keyframes transition-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.animate-text {
  animation: reveal-text 1.2s ease 0.2s forwards;
}

@keyframes reveal-text {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes scale-video {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 85%;
    height: 85%;
  }
}

.animate-img {
  animation: scale-img 0.7s ease forwards;
}

@keyframes scale-img {
  from {
    width: 110%;
    height: 110%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
/* ANIMATIONS */
/* MODAL */
.modal-IMG {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  padding-top: 6rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  background-image: url(assets/img-noise.png);
  box-shadow: inset 0 0 150px var(--black);
  overflow: auto;
}

.modal-content {
  margin: auto;
  display: block;
  height: 80vh;
  width: auto;
  max-width: 1000px;
  -webkit-animation: zoom 0.6s;
  animation: zoom 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: fixed;
  top: 3%;
  right: 5%;
  color: var(--black);
  font-size: 4rem;
  font-weight: 900;
  transition: 0.4s;
}

.close:hover,
.close:focus {
  cursor: pointer;
}
/* MODAL */
/* TRANSITION */
.transition-1 {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: var(--white);
  background-image: url(assets/img-noise.png);
  box-shadow: inset 0 0 150px var(--black);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}

.img-logo {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* TRANSITION */
