@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --white: #f7f7f7;
  --black: #202020;
  --red: #be0000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  image-rendering: -webkit-optimize-contrast;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  background-image: url(assets/img-noise.png);
  font-family: "Courgette", cursive;
}

nav {
  height: 2rem;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.title-logo {
  position: fixed;
  top: 3%;
  left: 6%;
  color: #202020;
  font-size: 1.2rem;
  font-weight: 900;
  z-index: 99;
}

.navbar li {
  padding: 1.5rem;
}

.navbar a {
  color: #202020;
  font-size: 1.2rem;
  font-weight: 900;
}
/* INTRO SECTION */
.intro {
  width: 98vw;
  height: 95vh;
  overflow: hidden;
  position: relative;
}

.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.9);
  display: block;
  border-radius: 1%;
  margin: auto;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
  width: 50%;
}
/* INTRO SECTION */
/* MAIN SECTION */
.main {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.left,
.middle,
.right {
  width: 33%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

figure {
  min-width: 150px;
  max-width: 300px;
}

figure img {
  border-radius: 2%;
  max-width: 100%;
  height: auto;
}

.left-img-1 {
  position: absolute;
  top: 5%;
  left: 15%;
}

.left-img-2 {
  position: absolute;
  top: 15%;
  left: 55%;
}

.left-img-3 {
  position: absolute;
  top: 35%;
  left: 10%;
}

.middle-text {
  padding: 50% 3rem 50% 3rem;
  text-align: center;
  font-size: 2rem;
}

.right-img-1 {
  position: absolute;
  top: 25%;
  left: 35%;
}

.right-img-2 {
  position: absolute;
  top: 35%;
  left: 0%;
}

.right-img-3 {
  position: absolute;
  top: 55%;
  left: 45%;
}
/* MAIN SECTION */
/* SECOND SECTION */
.second {
  display: flex;
  flex-direction: row;
}

.left-second,
.right-second {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.left-text {
  padding: 50% 3rem 50% 3rem;
  font-size: 2rem;
}

.right-second-img-1 {
  position: absolute;
  top: 15%;
}
.right-second-img-2 {
  position: absolute;
  top: 35%;
  left: 15%;
}
.right-second-img-3 {
  position: absolute;
  top: 55%;
  left: 5%;
}
.right-second-img-4 {
  position: absolute;
  top: 20%;
  left: 35%;
}
.right-second-img-5 {
  position: absolute;
  top: 45%;
  left: 40%;
}
/* SECOND SECTION */
/* THIRD SECTION */
.third {
  margin-top: 5rem;
}

.top-text {
  text-align: center;
  font-size: 2rem;
}

.splide {
  margin-top: 5rem;
  padding: 0 2rem 0 2rem;
}

.splide__slide__container {
  border-radius: 2%;
  width: 100%;
}

.splide__slide {
  padding: 2rem;
}

.splide__slide img {
  width: 100%;
  height: auto;
}
/* THIRD SECTION */
/* CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.div-category {
  width: 750px;
  height: 550px;
  margin: auto;
}

.div-category img {
  border-radius: 2%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* CATEGORIES */
/* FOOTER */
footer {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
/* FOOTER */
