@media only screen and (max-width: 1550px) {
  .left-img-1 {
    top: 45%;
  }
  .left-img-3 {
    top: 65%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-5 {
    top: 155%;
  }
}

@media only screen and (max-width: 1450px) {
  .right-second-img-3 {
    top: 95%;
  }
}

@media only screen and (max-width: 1300px) {
  .right-second-img-1 {
    top: 70%;
  }
  .right-second-img-2 {
    top: 190%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-5 {
    top: 145%;
  }
}

@media only screen and (max-width: 1200px) {
  .contact {
    padding-right: 10px;
  }
  .contact-text {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1150px) {
  .right-second-img-1 {
    top: 60%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-4 {
    top: 100%;
  }
  .right-second-img-5 {
    top: 155%;
  }
  .contact-left-img {
    left: 5%;
  }
  .container-img {
    width: 550px;
    height: 450px;
  }
}

@media only screen and (max-width: 1100px) {
  .contact-left-img {
    left: 2%;
  }
  .contact-right-img {
    left: 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .right-second-img-1 {
    top: 80%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-4 {
    top: 100%;
  }
  .right-second-img-5 {
    top: 155%;
  }
}
