@media only screen and (max-width: 1550px) {
  .left-img-1 {
    top: 45%;
  }
  .left-img-3 {
    top: 65%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-5 {
    top: 155%;
  }
}

@media only screen and (max-width: 1450px) {
  .right-second-img-3 {
    top: 95%;
  }
}

@media only screen and (max-width: 1300px) {
  .right-second-img-1 {
    top: 70%;
  }
  .right-second-img-2 {
    top: 190%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-5 {
    top: 145%;
  }
}

@media only screen and (max-width: 1200px) {
  .contact {
    padding-right: 10px;
  }
  .contact-text {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1150px) {
  .right-second-img-1 {
    top: 60%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-4 {
    top: 100%;
  }
  .right-second-img-5 {
    top: 155%;
  }
  .contact-left-img {
    left: 5%;
  }
  .container-img {
    width: 550px;
    height: 450px;
  }
}

@media only screen and (max-width: 1100px) {
  .contact-left-img {
    left: 2%;
  }
  .contact-right-img {
    left: 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .right-second-img-1 {
    top: 80%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-4 {
    top: 100%;
  }
  .right-second-img-5 {
    top: 155%;
  }
  .container-img {
    width: 450px;
  }
  .contact-container-text {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5rem;
  }
  .contact {
    text-align: center;
  }
  .contact-text {
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .main {
    grid:
      80vh
      10vh
      80vh
      / 1fr;
    height: 170vh;
  }
  .left-img-1 {
    left: 15%;
  }
  .left-img-3 {
    left: 40%;
  }
  .right-img-1 {
    top: 150%;
    left: 50%;
  }
  .right-img-2 {
    top: 105%;
    left: 15%;
  }
  .right-img-3 {
    top: 105%;
    left: 45%;
  }
  .right-second-img-1 {
    top: 100%;
  }
  .right-second-img-2 {
    top: 250%;
  }
  .right-second-img-3 {
    top: 115%;
  }
  .right-second-img-4 {
    top: 130%;
  }
  .right-second-img-5 {
    top: 195%;
  }
  .splide__slide {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 1rem 4rem;
  }
  .navbar a,
  .title-logo,
  footer {
    font-size: 1rem;
  }
  .middle-text,
  .left-text,
  .top-text,
  .contact-text {
    font-size: 1.5rem;
  }
  .categories-button {
    font-size: 1.5rem;
  }
  .contact a {
    font-size: 1.5rem;
  }
  .right-second-img-5 {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .container-img {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 650px) {
  .container-img {
    width: 250px;
    height: 250px;
  }
  .contact-left-img {
    width: 250px;
  }
  .contact-right-img {
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 1rem 1rem;
  }
  .right-img-1 {
    display: none;
  }
  .right-second-img-1 {
    top: 120%;
  }
  .right-second-img-4 {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .div-category {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 450px 200px;
  }
  .container-img {
    margin: auto;
    width: 450px;
    height: 450px;
  }
  .categories-text {
    text-align: center;
  }
  .contact-left-img {
    width: 180px;
    height: 180px;
  }
  .contact-right-img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    padding: 1rem 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .navbar li {
    padding: 0rem 0.2rem;
  }
  .container-img {
    width: 350px;
  }
  .contact-section {
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contact-left-img {
    top: 5%;
    left: 10%;
  }
  .contact-right-img {
    top: 25%;
    left: 25%;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    padding: 1rem 0rem;
  }
  .navbar li {
    padding: 0rem 0.1rem;
  }
  .container-img {
    width: 280px;
  }
}
