<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

    <!-- Schema -->
    <script type="application/ld+json">
     {
         "@context": "https://schema.org",
         "@type": "LocalBusiness",
         "description": "A wedding, christening and portrait photographer located in Paphos, Cyprus.",
         "name": "Studio Photo Creation by D",
         "address": 
     {
         "@type": "PostalAddress",
         "streetAddress": "Apostolou Pavlou 14A",
         "addressRegion": "Paphos",
         "postalCode": "8046",
         "addressCountry": "CY"
     },
         "geo": 
         {
             "@type": "GeoCoordinates",
             "latitude": 34.772740,
             "longitude": 32.418510
         },
         "url": "https://www.studiophotocreationbyd.com",
         "telephone": "+35799541649",
         "openingHours": 
         [            
             "Mo-Tu 10:00-13:00",
             "Mo-Tu 15:00-19:00",
             "We-Fr 10:00-13:00",
             "We-Fr 15:00-19:00"           
         ],
         "sameAs": 
         [ 
             "https://www.facebook.com/DomouchtsisDimitris",
             "https://www.instagram.com/domouchtsis"
         ]
     }
     </script>
    <!-- End Schema -->

    <meta name="description"
        content="A list of ways to contact me. Facebook page, instagram and my personal phone number.">
    <title>Contact Me - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('partials/transition') %>

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <main>
        <section class="main-contact">
            <div class="title-contact">
                <h1>Let's talk and plan your wedding</h1>
            </div>
            <figure class="contact-figure contact-img-1">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242769/studiophotocreation/cypriot-weddings/maria-andreas/DJI_0025_vpbcjv.webp"
                    alt="A photo from Maria's and Andreas's wedding">
            </figure>
            <figure class="contact-figure contact-img-3">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243187/studiophotocreation/english-weddings/kristen-james/SPC_0516_wxkvdp.webp"
                    alt="A photo from Kristen's and James's wedding">
            </figure>
            <figure class="contact-figure contact-img-4">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242710/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2238_vehdxq.webp"
                    alt="A photo from Kristia's and Alexis's wedding">
            </figure>
            <figure class="contact-figure contact-img-6">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243457/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_16_fjkuci.webp"
                    alt="A photo from Beth's and David's wedding">
            </figure>
        </section>
        <section class="contact-details">
            <div class="text-contact">
                <p>I am Dimitris and I’m from Greece, family man with two sons. Since
                    mid-2000 I live and create in
                    Cyprus. My relationship with photography counts many years. At the age of 16 I discovered the
                    beauty
                    of it and what to say … love from the first sight!
                    <br><br>
                    On the 14th of February 2005 I created “Studio Photo Creation by D” I’m blessed and lucky that
                    my
                    hobby turned out to be the most enjoyable job ever, where the creativity and challenge never
                    stops!!! So I’m proud to present you my work! Hope you will enjoy it as much as I did!!!
                    Thank you
                </p>
            </div>
            <div class="text-contact">
                <p>Call Me</p>
                <a href="tel:+35799541649">+357 99 54 1649</a>
            </div>
            <div class="text-contact">
                <p>Email Me</p>
                <p>photocreation@cytanet.com.cy</p>
            </div>
            <div class="text-contact">
                <p>Follow Me</p>
                <a href="https://www.facebook.com/DomouchtsisDimitris">facebook: DomouchtsisDimitris</a><br>
                <a href="https://www.instagram.com/studiophotocreation/">instagram: studiophotocreation</a>
            </div>
            <div class="text-contact">
                <p>Also supporting Fractal Magnus</p>
                <a href="https://www.facebook.com/fractal.magus">facebook: Fractal Magus</a><br>
                <a href="https://www.instagram.com/fractal_magus/">instagram: fractal_magus</a>
            </div>
        </section>
        <section class="contact-final">
            <div class="address">
                <p class="address-text">Apostolou Pavlou 14A Paphos CY 8046</p>
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245788/studiophotocreation/Location_1_ordr1u.webp"
                    alt="Front view of the photostudio in paphos"
                    alt="Photo of the front of StudioPhotoCreation photostudio">
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d819.3281231813625!2d32.41835435340739!3d34.77290767312378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e5ee3aa8a0c429c!2sWedding%20%26%20Portrait%20Photographer%20Dimitris%20Domouchtsis!5e0!3m2!1sen!2s!4v1597683639687!5m2!1sen!2s"
                    class="googleMap" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </section>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>