<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

    <!-- Schema -->
    <script type="application/ld+json">
    {   
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Studio Photo Creation by D",
        "url": "https://www.studiophotocreationbyd.com",
        "logo": "https://res.cloudinary.com/dmdbza74n/image/upload/v1632242164/studiophotocreation/logo_white_mkjefy.png",
        "foundingDate": "2005",
        "founder":
        {
            "@type": "Person",
            "name": "Dimitris Domouchtsis"
        },
        "address": 
        {
            "@type": "PostalAddress",
            "streetAddress": "Apostolou Pavlou 14A",
            "addressRegion": "Paphos",
            "postalCode": "8046",
            "addressCountry": "CY"
        },
        "contactPoint": 
        {
            "@type": "ContactPoint",
            "contactType": "customer support",
            "telephone": "+35799541649",
            "email": "photocreation@cytanet.com.cy"
        },
        "sameAs": 
        [ 
            "https://www.facebook.com/DomouchtsisDimitris",
            "https://www.instagram.com/domouchtsis"
        ]
    }
    </script>
    <!-- End Schema -->

    <meta name="description" content="A wedding, christening and portrait photographer located in Paphos, Cyprus. 
        Studio Photo Creation by Dimitris Domouchtsis.">

    <title>Wedding Photographer in Paphos, Cyprus - Studio Photo Creation by D</title>
    <meta property="og:title" content="Wedding Photographer in Paphos, Cyprus - Studio Photo Creation by D" />
    <meta property="og:description" content="A portrait, christening and wedding photographer located in Paphos, Cyprus. 
    Studio Photo Creation by Dimitris Domouchtsis." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.studiophotocreationbyd.com/" />
    <meta property="og:image" content="https://i.ibb.co/nmcZpKZ/logo-black.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="800" />
    <meta property="og:image:alt" content="Logo of the Studio Photo Creation" />
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('partials/transition') %>

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <main>
        <section class="intro">
            <video autoplay muted loop>
                <source
                    src="https://res.cloudinary.com/dmdbza74n/video/upload/v1632241719/studiophotocreation/video_l2pj3j.mp4"
                    type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
            <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242164/studiophotocreation/logo_white_mkjefy.png"
                alt="logo">
        </section>
        <section class="main">
            <div class="left">
                <figure class="figure left-img-1">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242330/studiophotocreation/cards/Aron_Stacey_z1z82h.webp"
                        alt="A photo preview of Aaron's and Stacey's wedding with captions">
                </figure>
                <figure class="figure left-img-3">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242328/studiophotocreation/cards/Celebrate_vpmmxd.webp"
                        alt="A photo with the bride accepting flowers from the maid with captions">
                </figure>
            </div>
            <div class="middle">
                <p class="middle-text">
                    <span class="text">Providing you the finest footage of your wedding, christening, anniversary or
                        any other celebration in photo and video</span>
                </p>
            </div>
            <div class="right">
                <figure class="figure right-img-1">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242328/studiophotocreation/cards/Leigh_Laura2_l3kk2p.webp"
                        alt="A photo preview of Leigh's and Laura's wedding with captions">
                </figure>
                <figure class="figure right-img-2">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242330/studiophotocreation/cards/LoveStory_iaeszz.webp"
                        alt="A photo with the maids outside the car of the bride with captions">
                </figure>
                <figure class="figure right-img-3">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242333/studiophotocreation/cards/MeltMy_h4jdjg.webp"
                        alt="A photo with the married couple walking by the beach in multiple angles">
                </figure>
            </div>
        </section>
        <section class="second">
            <div class="left-second">
                <p class="left-text">
                    <span class="text">Finding the most beautiful locations and venues for your dream wedding</span>
                </p>
            </div>
            <div class="right-second">
                <figure class="figure right-second-img-1">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242769/studiophotocreation/cypriot-weddings/maria-andreas/DJI_0025_vpbcjv.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </figure>
                <figure class="figure right-second-img-2">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242665/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1903_dcqo69.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </figure>
                <figure class="figure right-second-img-3">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243187/studiophotocreation/english-weddings/kristen-james/SPC_0516_wxkvdp.webp"
                        alt="A photo from Kristen's and James's wedding">
                </figure>
                <figure class="figure right-second-img-4">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242710/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2238_vehdxq.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </figure>
                <figure class="figure right-second-img-5">
                    <img class="modal-IMG scale-img"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0339_jsmfdp.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </figure>
            </div>
        </section>
        <section class="third">
            <div class="top-third">
                <p class="top-text">
                    <span class="text">`` Dimitri's photography reflects his pure passion and inspiring character
                        ``</span>
                </p>
            </div>
            <div class="splide">
                <div class="splide__track">
                    <div class="splide__list">
                        <img class="splide__slide"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242635/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1741_bmmhfi.webp"
                            loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                        <img class="splide__slide"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244008/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2355_v7jz5e.webp"
                            loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                        <img class="splide__slide"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243600/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_13_j0orvq.webp"
                            loading="lazy" alt="A photo from Jemma's and Carl's wedding">
                        <img class="splide__slide"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0655_lgvyls.webp"
                            loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                    </div>
                </div>
            </div>
        </section>
        <section class="categories">
            <h1>Visit My Work</h1>
            <div class="categories-grid">
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242799/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1179_ch8f7k.webp"
                            loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings">Cypriot
                            Weddings</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243155/studiophotocreation/english-weddings/kristen-james/SPC_0010_bbnyh3.webp"
                            loading="lazy" alt="A photo from Kristen's and James's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/english-weddings">English Weddings</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243844/studiophotocreation/wedding-stories/stacey-aaron/SPC_0068_fezees.webp"
                            loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories">Wedding Stories</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244415/studiophotocreation/christenings/agapi/SPC_0828_r4phfx.webp"
                            loading="lazy" alt="A photo from Agapi's chistening">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/christenings">Christenings</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567848/studiophotocreation/proposals/Antreas-Athina/SPC_0084_df2zky.webp"
                            loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/proposals">Proposals</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568790/studiophotocreation/families/Alexander-Yiana/SPC_0204_xdclrl.webp"
                            loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/families">Families</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0923_c3iupa.webp"
                            loading="lazy" alt="A photo from Sveta's modeling photoshoot">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/models">Models</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-section">
            <div class="contact-container-img">
                <div>
                    <figure class="figure contact-left-img">
                        <img class="modal-IMG scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242332/studiophotocreation/cards/Ricky_Gemma_o4auqj.webp"
                            loading="lazy" alt="A photo preview from Ricky's amd Gemma's wedding with captions">
                    </figure>
                </div>
                <div>
                    <figure class="figure contact-right-img">
                        <img class="modal-IMG scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242330/studiophotocreation/cards/SaveDate_svn1op.webp"
                            loading="lazy" alt="Bride in front of a painted wall in multiple shots with captions">
                    </figure>
                </div>
            </div>
            <div class="contact-container-text">
                <div class="contact">
                    <a class="contact-button" href="/contact">Contact Me</a>
                </div>
                <div class="contact-text">
                    <p class="text">Let's talk and plan your wedding</p>
                </div>
            </div>
        </section>
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content">
        </div>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>