<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description" content="Dimitris Domouchtsis's portfolio, choose from cypriot weddings, 
        english weddings and christenings categories to view">
        <title>Dimitris Domouchtsis portfolio - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('partials/transition') %>

        <nav>
            <%- include('partials/navbar') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1179.webp"
                            alt="A photo from Maria's and Andreas's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                        <img src="/assets/English-Weddings/Kristen-James/SPC_0010.webp"
                            alt="A photo from Kristen's and James's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                        <img src="/assets/Wedding-Stories/Stacey-Aaron/SPC_0068.webp"
                            alt="A photo from Stacey's and Aaron's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-4" data-rellax-speed="4">
                        <img src="/assets/Christenings/Agapi/SPC_0828.webp" alt="A photo from Agapi's christening">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/cypriot-weddings">Cypriot
                            Weddings</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings">English Weddings</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories">Wedding Stories</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings">Christenings</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1179.webp"
                                alt="A photo from Maria's and Andreas's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/cypriot-weddings">Cypriot
                                Weddings</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/English-Weddings/Kristen-James/SPC_0010.webp"
                                alt="A photo from Kristen's and james's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/englist-weddings">English Weddings</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img" src="/assets/Wedding-Stories/Stacey-Aaron/SPC_0068.webp"
                                alt="A photo from Stacey's and Aaron's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories">Wedding Stories</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img" src="/assets/Christenings/Agapi/SPC_0828.webp"
                                alt="A photo from Agapi's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings">Christenings</a>
                        </div>
                    </div>
                </div>
                <div class="right-portfolio">
                    <figure class="portfolio-figure rellax right-portfolio-img-1" data-rellax-speed="3">
                        <img src="/assets/Cypriot-Weddings/Maria-Andreas/DJI_0025.webp"
                            alt="A photo from Maria's and Andreas's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                        <img src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1903.webp"
                            alt="A photo from Kata's and Andreas's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                        <img src="/assets/English-Weddings/Kristen-James/SPC_0516.webp"
                            alt="A photo from Kristen's and James's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                        <img src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2238.webp"
                            alt="A photo from Kristia's and Alexis's wedding">
                    </figure>
                </div>
            </section>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>