@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --white: #f7f7f7;
  --black: #202020;
  --red: #be0000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  image-rendering: -webkit-optimize-contrast;
}

html,
body {
  height: 100%;
  font-family: 'Playfair Display', serif;
}

nav {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1632241841/studiophotocreation/img-noise_c2pk0b.png');
  padding: 1rem 8rem;
  z-index: 1;
  position: fixed;
  width: 100%;
}

#breadcrumb {
  text-align: center;
  z-index: 1;
  padding: 0.5rem;
  overflow: hidden;
}

.navbar-top {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.navbar li {
  padding: 0rem 1rem;
}

#breadcrumb a,
.navbar a,
.title-logo {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  transition: border 0.4s;
  border: 3px solid transparent;
}

#breadcrumb a:active,
#breadcrumb a:hover,
#breadcrumb a:focus,
.navbar a.active,
.navbar a:hover,
.navbar a:focus {
  border: 3px solid var(--black);
  transition: border 0.4s;
}
/* INTRO SECTION */
.intro {
  width: 99vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  position: relative;
}

.intro video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: block;
  margin-top: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1%;
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-animation: scale-video 3s ease forwards;
  animation: scale-video 3s ease forwards;
}

.intro img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 50%;
}
/* INTRO SECTION */
/* MAIN SECTION */
.main {
  -ms-display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  box-shadow: inset 0 0 150px var(--black);
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
}

.left,
.middle,
.right {
  position: relative;
  overflow: hidden;
}

.figure {
  width: max(17vw, 150px);
  height: auto;
}

figure img {
  box-shadow: 0px 0px 10px var(--black);
}

.figure img {
  border-radius: 2%;
  width: 110%;
  height: 110%;
}

.figure img:hover,
.figure img:focus {
  position: relative;
  -webkit-animation: shake 0.4s;
  animation: shake 0.4s;
  z-index: 1;
}

.left-img-1 {
  position: absolute;
  top: 25%;
  left: 15%;
  padding-right: 1.7rem;
}

.left-img-3 {
  position: absolute;
  top: 55%;
  left: 10%;
  padding-right: 1.7rem;
}

.middle {
  margin: auto;
}

.middle-text {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2rem);
  -ms-display: grid;
  display: grid;
  word-wrap: normal;
  padding: 1rem;
}

.right {
  margin-top: 3rem;
}

.right-img-1 {
  position: absolute;
  top: 10%;
  left: 30%;
  padding-right: 1.7rem;
}

.right-img-2 {
  position: absolute;
  top: 35%;
  left: 10%;
  padding-right: 1.7rem;
}

.right-img-3 {
  position: absolute;
  top: 55%;
  left: 45%;
  padding-right: 1.7rem;
}
/* MAIN SECTION */
/* SECOND SECTION */
.second {
  min-height: 100vh;
  -ms-display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: inset 0 0 150px var(--black);
  height: 100vh;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
}

.left-second,
.right-second {
  overflow: hidden;
  position: relative;
}

.left-second {
  margin: auto;
}

.left-text {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  -ms-display: grid;
  display: grid;
  word-wrap: normal;
}

.right-second-img-1 {
  position: absolute;
  top: 15%;
  padding-right: 1.7rem;
}
.right-second-img-2 {
  position: absolute;
  top: 35%;
  left: 15%;
  padding-right: 1.7rem;
}
.right-second-img-3 {
  position: absolute;
  top: 55%;
  left: 5%;
  padding-right: 1.7rem;
}
.right-second-img-4 {
  position: absolute;
  top: 45%;
  left: 55%;
  padding-right: 1.7rem;
}
.right-second-img-5 {
  position: absolute;
  top: 65%;
  left: 40%;
  padding-right: 1.7rem;
}
/* SECOND SECTION */
/* THIRD SECTION */
.third {
  min-height: 100vh;
  padding-top: 5rem;
  box-shadow: inset 0 0 150px var(--black);
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
}

.top-text {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2rem);
  -ms-display: grid;
  display: grid;
  word-wrap: normal;
}

.splide {
  margin-top: 5rem;
  padding: 0 1.5rem 0 1.5rem;
}

.splide__slide {
  padding: 1.5rem;
}

.splide__list img {
  width: 100%;
  border-radius: 8%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* THIRD SECTION */
/* CATEGORIES */
.categories {
  box-shadow: inset 0 0 150px var(--black);
  background-color: var(--black);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1650729681/studiophotocreation/black-noise_ta3g1g.webp');
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.categories:hover h1,
.categories:focus h1 {
  border-bottom: 10px double var(--white);
}

.categories h1 {
  text-align: center;
  color: var(--white);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  border-top: 6px double var(--white);
  border-bottom: 10px double transparent;
  transition: border-bottom 0.4s;
}

.categories-grid {
  padding-top: 5rem;
  -ms-display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
  grid-gap: 1.5rem;
}

.div-category {
  -ms-display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

.container-img {
  margin-left: auto;
  width: 750px;
  height: 550px;
}

.category-img {
  border-radius: 2%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: auto;
  width: 110%;
  height: 110%;
}

.categories-text {
  margin: auto;
  padding: 4px;
}

.categories-button {
  background-color: var(--black);
  letter-spacing: 2%;
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
  color: var(--white);
  font-weight: 600;
  font-size: clamp(1.5rem, 2vw, 2rem);
  border: 3px solid var(--white);
  border-radius: 10px;
  transition: 0.2s;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.categories-button:hover,
.categories-button:focus {
  cursor: pointer;
  box-shadow: 0 0 8px var(--white);
}

.categories-button:hover .categories-text,
.categories-button:focus .categories-text {
  padding: 0px;
}
/* CATEGORIES */
/* CONTACT */
.contact-section {
  min-height: 100vh;
  background-color: var(--red);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  -ms-display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: inset 0 0 150px var(--black);
  position: relative;
  overflow-x: hidden;
}

.contact-left-img {
  height: auto;
  position: absolute;
  top: 10%;
  left: 10%;
}

.contact-right-img {
  height: auto;
  position: absolute;
  top: 40%;
  left: 25%;
}

.contact-container-text {
  -ms-display: grid;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
}

.contact {
  margin: auto;
  padding: 4px;
}

.contact-button {
  letter-spacing: 2%;
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
  background-color: var(--red);
  color: var(--white);
  font-weight: 600;
  font-size: clamp(1.5rem, 2vw, 2rem);
  border: 3px solid var(--white);
  border-radius: 5px;
  transition: 0.2s;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.contact-button:hover,
.contact-button:focus {
  cursor: pointer;
  border: 3px solid var(--white);
  box-shadow: 0 0 8px var(--white);
}

.contact-button:hover .contact,
.contact-button:focus .contact {
  padding: 0px;
}

.contact-text {
  color: var(--white);
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: start;
  -ms-display: grid;
  display: grid;
  word-wrap: normal;
}
/* CONTACT */
/* FOOTER */
footer {
  position: relative;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--black);
  font-size: 1.1.5rem;
  font-weight: 600;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1632241841/studiophotocreation/img-noise_c2pk0b.png');
  z-index: 98;
}

.sign {
  font-size: 1rem;
}

.sign a {
  color: var(--black);
  transition: 0.7s;
}

.sign a:hover,
.sign a:focus {
  text-decoration: underline;
}
/* FOOTER */
/* MAIN-PORTFOLIO */
.main-portfolio {
  min-height: 150vh;
  box-shadow: inset 0 0 150px var(--black);
  background-color: var(--black);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1650729681/studiophotocreation/black-noise_ta3g1g.webp');
  -ms-display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
}

.middle-portfolio-750px {
  display: none;
  margin-top: 2.5rem;
}

.middle-portfolio > div {
  padding-top: 10rem;
  text-align: center;
}

.portfolio-figure img {
  border-radius: 2%;
  width: max(17vw, 150px);
  height: auto;
}

.right-portfolio {
  position: relative;
  overflow: hidden;
}

.right-portfolio-img-1 {
  position: absolute;
  top: 30%;
  left: 0;
}

.right-portfolio-img-2 {
  position: absolute;
  top: 50%;
  left: 5%;
}

.right-portfolio-img-3 {
  position: absolute;
  top: 60%;
  left: 15%;
}

.right-portfolio-img-4 {
  position: absolute;
  top: 80%;
  left: 25%;
}

.left-portfolio {
  position: relative;
  overflow: hidden;
}

.left-portfolio-img-1 {
  position: absolute;
  top: 20%;
  left: 5%;
}

.left-portfolio-img-2 {
  position: absolute;
  top: 40%;
  left: 20%;
}

.left-portfolio-img-3 {
  position: absolute;
  top: 50%;
  left: 25%;
}

.left-portfolio-img-4 {
  position: absolute;
  top: 70%;
  left: 35%;
}
/* MAIN-PORTFOLIO */
/* CONTACT */
.main-contact {
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  height: 100vh;
  -ms-display: grid;
  display: grid;
  place-content: center;
  position: relative;
  box-shadow: inset 0 0 150px var(--black);
  overflow-x: hidden;
}

.title-contact {
  text-align: center;
  position: relative;
  z-index: 10;
}

.title-contact h1 {
  font-size: 3rem;
  color: var(--black);
  text-shadow: 0 0 6px #f7f7f7;
}

.contact-figure img {
  border-radius: 2%;
  width: max(17vw, 150px);
  height: auto;
}

.contact-img-1 {
  position: absolute;
  top: 15%;
  left: 15%;
}

.contact-img-3 {
  position: absolute;
  top: 65%;
  left: 25%;
}

.contact-img-4 {
  position: absolute;
  top: 5%;
  left: 55%;
}

.contact-img-6 {
  position: absolute;
  top: 70%;
  left: 65%;
}

.contact-details {
  box-shadow: inset 0 0 150px var(--black);
  background-color: var(--black);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1650729681/studiophotocreation/black-noise_ta3g1g.webp');
  min-height: 70vh;
  -ms-display: grid;
  display: grid;
  position: relative;
  padding: 5rem 0rem 5rem 0rem;
  text-align: center;
}

.text-contact {
  padding: 1.5rem 6rem 0rem 6rem;
}

.text-contact p,
.text-contact a {
  color: var(--white);
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.text-contact a {
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.contact-final {
  background-color: var(--red);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  box-shadow: inset 0 0 150px var(--black);
  padding-top: 5rem;
  min-height: 70vh;
  -ms-display: grid;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: 'Open Sans', sans-serif;
}

.address {
  width: 90%;
  margin: auto;
}

.address-text {
  text-align: center;
  padding-bottom: 5rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: var(--white);
}

.address img {
  width: 100%;
  border-radius: 2%;
}

.map {
  margin: auto;
  width: 90%;
  height: 90%;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 5px solid var(--white);

  border-radius: 2%;
}
/* CONTACT */
/* PHOTOGRID */
.main-photogrid {
  padding: 8rem 1.5rem 4rem 1.5rem;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  box-shadow: inset 0 0 150px var(--black);
  -ms-display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1.5rem;
  overflow: hidden;
}

.div-photo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 2%;
  box-shadow: 0px 0px 10px var(--black);
}
/* PHOTOGRID */
/* ANIMATIONS */
@-webkit-keyframes transition-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transition-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  opacity: 0;
}

.animate-text {
  -webkit-animation: reveal-text 0.7s ease forwards;
  animation: reveal-text 0.7s ease forwards;
}

@-webkit-keyframes reveal-text {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}

@keyframes reveal-text {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}

@-webkit-keyframes scale-video {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 85%;
    height: 85%;
  }
}

@keyframes scale-video {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 85%;
    height: 85%;
  }
}

.animate-img {
  -webkit-animation: scale-img 0.7s ease forwards;
  animation: scale-img 0.7s ease forwards;
}

@-webkit-keyframes scale-img {
  from {
    width: 110%;
    height: 110%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes scale-img {
  from {
    width: 110%;
    height: 110%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  80% {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}
/* ANIMATIONS */
/* MODAL */
.modal-IMG {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  padding-top: 6rem;
  padding-bottom: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  box-shadow: inset 0 0 150px var(--black);
  overflow: auto;
}

.modal-content {
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  max-width: 90vw;
  -webkit-animation: zoom 0.6s;
  animation: zoom 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: fixed;
  top: 3%;
  right: 5%;
  color: var(--black);
  font-size: 4rem;
  font-weight: 600;
  transition: 0.4s;
}

.close:hover,
.close:focus {
  cursor: pointer;
}
/* MODAL */
/* TRANSITION */
.transition-1 {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1636566609/studiophotocreation/noise-new-transparent_zixdxd.webp');
  box-shadow: inset 0 0 150px var(--black);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}

.img-logo {
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
/* TRANSITION */
