@media only screen and (max-width: 96.875em) {
  .left-img-1 {
    top: 45%;
  }
  .left-img-3 {
    top: 65%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-5 {
    top: 155%;
  }
}

@media only screen and (max-width: 93.75em) {
  .contact-img-2 {
    left: 1%;
  }
  .contact-img-5 {
    left: 79%;
  }
}

@media only screen and (max-width: 90.625em) {
  .right-second-img-3 {
    top: 95%;
  }
}

@media only screen and (max-width: 84.375em) {
  .contact-img-2 {
    display: none;
  }
}

@media only screen and (max-width: 81.25em) {
  .right-second-img-1 {
    top: 70%;
  }
  .right-second-img-2 {
    top: 190%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-5 {
    top: 145%;
  }
}

@media only screen and (max-width: 78.125em) {
  .contact-img-5 {
    display: none;
  }
  /* .contact {
    padding-right: 10px;
  } */
  .contact-text {
    padding-right: 10px;
  }
  .contact-left-img {
    left: 2%;
  }
  .contact-right-img {
    left: 10%;
  }
}

@media only screen and (max-width: 73.75em) {
  .main {
    grid:
      80vh
      10vh
      80vh
      / 1fr;
    height: 170vh;
  }
  .left-img-1 {
    left: 15%;
  }
  .left-img-3 {
    left: 40%;
  }
  .right-img-1 {
    top: 130%;
    left: 60%;
  }
  .right-img-2 {
    top: 85%;
    left: 15%;
  }
  .right-img-3 {
    top: 85%;
    left: 45%;
  }
  .right-second-img-1 {
    top: 110%;
  }
  .right-second-img-2 {
    top: 220%;
  }
  .right-second-img-3 {
    top: 115%;
  }
  .right-second-img-4 {
    top: 130%;
  }
  .right-second-img-5 {
    top: 195%;
  }
  .splide__slide {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 71.875em) {
  .right-second-img-1 {
    top: 100%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 105%;
  }
  .right-second-img-4 {
    top: 120%;
  }
  .right-second-img-5 {
    top: 175%;
  }
  .contact-left-img {
    left: 5%;
  }
  .container-img {
    width: 550px;
    height: 450px;
  }
}

@media only screen and (max-width: 68.75em) {
  .portfolio-figure img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 62.5em) {
  .right-second-img-1 {
    top: 100%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 85%;
  }
  .right-second-img-4 {
    display: none;
  }
  .right-second-img-5 {
    top: 175%;
  }
  .container-img {
    width: 450px;
  }
  .contact-container-text {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5rem;
  }
  .contact,
  .contact-text {
    text-align: center;
  }
  .left-portfolio-img-1 {
    left: 10%;
  }
  .left-portfolio-img-2 {
    left: 25%;
  }
  .left-portfolio-img-3 {
    left: 15%;
  }
  .left-portfolio-img-4 {
    left: 5%;
  }
}

@media only screen and (max-width: 56.25em) {
  nav {
    padding: 1rem 4rem;
  }
  .navbar a,
  .title-logo,
  footer {
    font-size: 1rem;
  }
  .middle-text,
  .left-text,
  .top-text,
  .contact-text,
  .categories-button,
  .contact a,
  .text-contact p,
  .text-contact a,
  .address-text {
    font-size: 1.5rem;
  }
  .middle-text {
    padding: 0rem 1rem 0rem 1rem;
  }
  .right-img-1,
  .right-second-img-5 {
    display: none;
  }
  .right-second-img-1 {
    top: 100%;
  }
  .right-second-img-2 {
    top: 200%;
  }
  .right-second-img-3 {
    top: 100%;
  }
  .left-portfolio-img-2 {
    left: 5%;
  }
  .title-contact h1 {
    font-size: 2rem;
  }
  .contact-final {
    grid-template-columns: 100%;
  }
  .map {
    padding: 2rem 0rem 2rem 0rem;
    height: 500px;
  }
}

@media only screen and (max-width: 50em) {
  .contact-img-1 {
    left: 10%;
  }
  .contact-img-3 {
    left: 20%;
  }
  .contact-img-6 {
    left: 55%;
  }
  .contact-left-img,
  .contact-right-img {
    width: 250px;
  }
}

@media only screen and (max-width: 46.875em) {
  .container-img {
    width: 300px;
    height: 250px;
  }
  .main-portfolio {
    grid-template-columns: 1fr;
  }
  .middle-portfolio,
  .right-portfolio,
  .left-portfolio {
    display: none;
  }
  .middle-portfolio-750px {
    padding-top: 5rem;
    -ms-display: grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
    grid-gap: 2rem;
  }
  .main-photogrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 40.625em) {
  .container-img {
    width: 250px;
  }
  .contact-figure img {
    max-width: 250px;
  }
  .contact-left-img {
    top: 5%;
    left: 10%;
    width: 180px;
    height: 180px;
  }
  .contact-right-img {
    top: 25%;
    left: 25%;
    width: 200px;
    height: 200px;
  }
  .contact-section {
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 37.5em) {
  nav {
    padding: 1rem 1rem;
  }
  .right-img-1 {
    display: none;
  }
  .right-second-img-1 {
    top: 120%;
  }
  .right-second-img-2 {
    top: 210%;
  }
  .right-second-img-3 {
    top: 110%;
  }
}

@media only screen and (max-width: 35em) {
  .div-category {
    -ms-display: grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 450px 200px;
  }
  .container-img {
    margin: auto;
    width: 450px;
    height: 450px;
  }
  .categories-text {
    text-align: center;
  }
  .contact-img-4 {
    left: 45%;
  }
  .contact-img-6 {
    left: 50%;
  }
}

@media only screen and (max-width: 31.25em) {
  nav {
    padding: 1rem 0.5rem;
  }
  .title-contact h1 {
    font-size: 1.6rem;
  }
  .contact-img-1 {
    left: 1%;
  }
  .contact-img-3 {
    left: 5%;
  }
  .contact-img-4 {
    left: 40%;
  }
  .contact-img-6 {
    left: 40%;
  }
}

@media only screen and (max-width: 28.125em) {
  .navbar li {
    padding: 0rem 0.2rem;
  }
  .container-img {
    width: 350px;
  }
  .title-contact h1 {
    font-size: 1.8rem;
  }
  .main-photogrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 25em) {
  nav {
    padding: 1rem 0rem;
  }
  .navbar li {
    padding: 0rem 0.1rem;
  }
  .navbar a,
  .title-logo,
  footer {
    font-size: 0.9rem;
  }
  .container-img {
    width: 280px;
  }
  .contact-figure img {
    max-width: 210px;
  }
  .text-contact {
    padding: 2rem 0rem 0rem 0rem;
  }
}
