/* 1180px */
@media only screen and (max-width: 73.75em) {
  .main {
    grid:
      80vh
      10vh
      80vh
      / 1fr;
    height: 170vh;
  }
  .left-img-1 {
    left: 15%;
  }
  .left-img-3 {
    top: 30%;
    left: 30%;
  }
  .right-img-1 {
    top: 15%;
    left: 25%;
  }
  .right-img-2 {
    top: 20%;
    left: 40%;
  }
  .right-img-3 {
    top: 35%;
    left: 55%;
  }
  .splide__slide {
    padding: 0.5rem;
  }
}
/* 1150px */
@media only screen and (max-width: 71.875em) {
  .container-img {
    width: 550px;
    height: 450px;
  }
  .contact-section {
    grid-template-columns: 1fr;
  }
  .contact-left-img {
    left: 15%;
  }
  .contact-right-img {
    top: 15%;
    left: 35%;
  }
}
/* 1000px */
@media only screen and (max-width: 62.5em) {
  .container-img {
    width: 450px;
  }
  .contact-container-text {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5rem;
  }
  .contact,
  .contact-text {
    text-align: center;
  }
}
/* 900px */
@media only screen and (max-width: 56.25em) {
  nav {
    padding: 1rem 4rem;
  }
  #breadcrumb a,
  .navbar a,
  .title-logo,
  footer {
    font-size: 1rem;
  }
  .main {
    grid:
      50vh
      10vh
      80vh
      / 1fr;
    height: 140vh;
  }
  .middle-text {
    padding: 0rem 1rem 0rem 1rem;
  }
  .title-contact h1 {
    font-size: 2rem;
  }
  .contact-final {
    grid-template-columns: 100%;
  }
  .map {
    padding: 2rem 0rem 2rem 0rem;
    height: 500px;
  }
}
/* 750px */
@media only screen and (max-width: 46.875em) {
  .container-img {
    width: 300px;
    height: 250px;
  }
  .main-portfolio {
    grid-template-columns: 1fr;
  }
  .middle-portfolio,
  .right-portfolio,
  .left-portfolio {
    display: none;
  }
  .middle-portfolio-750px {
    padding-top: 5rem;
    -ms-display: grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
    grid-gap: 2rem;
  }
  .main-photogrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 600px */
@media only screen and (max-width: 37.5em) {
  nav {
    padding: 1rem 1rem;
  }
  .div-category {
    -ms-display: grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 450px 200px;
  }
  .container-img {
    margin: auto;
    width: 450px;
    height: 450px;
  }
  .categories-text {
    text-align: center;
  }
}
/* 560px */
@media only screen and (max-width: 35em) {
  .text-contact {
    padding: 2rem 1rem 0rem 1rem;
  }
}
/* 500px */
@media only screen and (max-width: 31.25em) {
  nav {
    padding: 1rem 0.5rem;
  }
  .right-img-1 {
    top: 30%;
  }
  .right-img-2 {
    top: 40%;
  }
  .right-img-3 {
    top: 50%;
  }
  .title-contact h1 {
    font-size: 1.6rem;
  }
  .contact-img-1 {
    left: 1%;
  }
  .contact-img-3 {
    left: 5%;
  }
  .contact-img-4 {
    left: 40%;
  }
  .contact-img-6 {
    left: 40%;
  }
}
/* 450px */
@media only screen and (max-width: 28.125em) {
  .navbar li {
    padding: 0rem 0.2rem;
  }
  .container-img {
    width: 350px;
  }
  .title-contact h1 {
    font-size: 1.8rem;
  }
  .main-photogrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .text-contact {
    padding: 2rem 0rem 0rem 0rem;
  }
  .text-contact p,
  .text-contact a {
    font-size: 1rem;
  }
}
/* 400px */
@media only screen and (max-width: 25em) {
  nav {
    padding: 1rem 0rem;
  }
  .navbar li {
    padding: 0rem 0.1rem;
  }
  #breadcrumb a,
  .navbar a,
  .title-logo,
  footer {
    font-size: 0.9rem;
  }
  .container-img {
    width: 280px;
  }
}
