<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of kata's and Andrea's wedding in Paphos, Cyprus">
        <title>Kata and Andreas wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242620/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0014_uvn2cb.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242620/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0041_y4tsl7.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242621/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0043_hhu2mt.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242621/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0052_coqlil.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242621/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0056_rpkgvy.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242620/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0495_w2o6ju.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242621/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0498_c4nuuh.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242622/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0521_bk6zk4.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242622/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0530_toyead.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242622/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0600_glcb0j.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242622/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0606_rbzqlq.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242622/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0616_do7nfh.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242624/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0685_bmwnmm.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242626/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0713_upymtk.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242624/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0738_hlmkcy.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242626/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0742_na3396.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242626/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0760_vpqjza.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242626/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0763_kc1qbk.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242626/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0875_qh0bys.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242625/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0878_wfofe0.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242627/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0891_mq7h8j.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242628/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0897_ltqqjq.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242629/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0906_xaepd3.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242629/studiophotocreation/cypriot-weddings/kata-andreas/SPC_0909_qj6zpc.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242629/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1216_d23pz6.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242629/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1233_thad1w.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242630/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1448_p0bupi.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242629/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1618_lpvi3l.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242630/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1631_ufdcky.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242630/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1633_dft5ue.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242630/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1640_wyioiu.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242631/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1647_yfpepd.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242632/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1670_ngrroo.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242631/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1674_bzjwsd.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242647/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1680_dcgebn.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242632/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1689_ir8bdq.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242634/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1697_nvaitk.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242637/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1713_qcryqt.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242635/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1720_opgooy.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242641/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1729_y4dig0.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242637/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1738_kerksl.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242635/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1741_bmmhfi.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242637/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1748_yy28nv.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242640/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1754_qrrcle.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242644/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1772_f9piip.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242645/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1778_fuzqpb.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242654/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1790_t79rao.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242642/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1801_ci6bvi.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242645/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1809_t5sjmx.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242644/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1816_fruebo.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242647/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1819_pka657.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242647/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1825_dye2n1.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242648/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1831_k9406p.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242647/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1837_b2q3fc.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242658/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1848_wpd9up.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242653/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1855_hskdo7.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242650/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1862_n1fyob.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242654/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1872_ki0a9v.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242658/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1881_oqh6zi.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242653/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1889_fkubtv.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242665/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1903_dcqo69.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242657/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1921_hmihwv.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242661/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1923_bfm0ha.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242659/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1925_seb5nc.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242662/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1932_pceqwi.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242664/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1935_hpkhij.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242662/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1944_cvyc1l.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242663/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1950_dog6rc.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242664/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1953_ijyonm.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242664/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1965_mgpoxp.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242667/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1968_n2ebu9.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242667/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1974_xwjt3x.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242666/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1976_lbpgr6.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242666/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1985_utxjme.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242667/studiophotocreation/cypriot-weddings/kata-andreas/SPC_2032_ideamx.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242668/studiophotocreation/cypriot-weddings/kata-andreas/SPC_2035_vl92hf.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242668/studiophotocreation/cypriot-weddings/kata-andreas/SPC_2037_tshds6.webp"
                        loading="lazy" alt="A photo from Kata's and Andreas's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>