<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of kata's and Andrea's wedding in Paphos, Cyprus">
        <title>Kata and Andreas wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0014.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0041.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0043.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0052.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0056.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0495.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0498.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0521.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0530.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0600.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0606.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0616.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0685.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0713.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0738.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0742.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0760.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0763.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0875.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0878.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0891.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0897.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0906.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_0909.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1216.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1233.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1448.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1618.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1631.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1633.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1640.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1647.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1670.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1674.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1680.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1689.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1697.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1713.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1720.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1729.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1738.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1741.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1748.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1754.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1772.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1778.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1790.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1801.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1809.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1816.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1819.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1825.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1831.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1837.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1848.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1855.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1862.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1872.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1881.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1889.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1903.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1921.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1923.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1925.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1932.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1935.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1944.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1950.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1953.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1965.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1968.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1974.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1976.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1985.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_2032.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_2035.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_2037.webp" loading="lazy"
                        alt="A photo from Kata's and Andreas's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>