<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Kristia's and Alexis's wedding in Paphos, Cyprus">
        <title>Kristia and Alexis wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/KAMBAS.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_0920.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_0929.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1112.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1616.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1623.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1628.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1712 (2).webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1823.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1833.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1836.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1846.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1932.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_1936.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2059.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2064.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2136.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2151.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2153.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2158.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2162.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2184.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2186.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2194.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2229.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2238.webp" loading="lazy"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>