<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description" content="A complete photography of Maria's and Lambro's wedding in Paphos, Cyprus">
        <title>Maria and Lambros wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="transition transition-1 is-active">
        <img class="img-logo" src="/assets/logo-black.png">
    </div>
    <header>
        <nav role="navigation" aria-label="main navigation">
            <a class="title-logo" href="/">Dimitris Domouchtsis</a>
            <ul class="navbar">
                <li><a id="home" class="active" href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-photogrid">
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_0895.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1043.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1051.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1082.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1108.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1132.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1228.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1307.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1320.webp"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1446.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1468.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1484.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1486.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1497.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1647.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_1649.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2219.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2252.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2275.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2290.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2297.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2299.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2307.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2319.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2330.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2335.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2348.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2355.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2359.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2375.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2384.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2387.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2391.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2393.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2401.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2409.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2412.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2416.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2427.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2429.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2435.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2444.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2455.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2481.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2483.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2489.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2503.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2513.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2520.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2538.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2543.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2552.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2558.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2560.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2571.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2578.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2581.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2587.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2598.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2603.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2615.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2616.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2619.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2620.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2627.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2639.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2642.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2645.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2646.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2652.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2653.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2656.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2657.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2663.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2664.webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_2674 (2).webp" loading="lazy"
                    alt="A photo from Maria's and Lampros's wedding">
            </div>
        </section>

        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content">
        </div>
    </main>
    <footer>
        <p>Copyright © 2021 Photography Dimitris Domouchtsis/Studio Photo Creation</p>
        <p>This website uses Google Analytics</p>
        <p class="sign">Created by <a href="https://www.vasiliszisis.me/">Vasilis Zisis</a></p>
    </footer>
    <script src="/main.js"></script>
</body>

</html>