<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Maria's and Andrea's wedding in Paphos, Cyprus">
        <title>Maria and Andreas wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242765/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0012_shk4fz.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242765/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0019_xh27zb.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242768/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0029_zlulss.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242768/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0039_luxnzw.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242767/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0041_hdhjje.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242766/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0054_qydktb.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242768/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0067_propnu.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242768/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0072_vp4s1a.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242771/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0080_stqmw7.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242771/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0086_hdhtlk.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242770/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0090_powetd.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242770/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0093_kmmzxz.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242770/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0096_z6rikk.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242770/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0098_eedwnu.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242771/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0099_ykyayn.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242774/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0126_hnsbj7.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242772/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0134_klr4dl.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242777/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0142_crryn0.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242775/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0204_xo9rul.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242773/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0219_aebvcb.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242778/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0351_yr9kdt.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242775/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0377_z27x0h.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242776/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0412_jo7nux.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242776/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0440_cki2xr.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242777/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0446_itu2we.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242777/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0451_wn5zbq.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242777/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0462_xlcquz.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242778/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0468_wiyttk.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242778/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0488_odzfv6.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242778/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0490_gzsrys.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242780/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0494_pn6us5.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242780/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0499_hoesez.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242779/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0507_rkv2kv.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242780/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0516_cxds2x.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242781/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0522_zcuq6h.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242782/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0537_uoypnw.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242782/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0557_y54zro.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242785/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0560_tafgv8.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242785/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0625_sp5b0p.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242782/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0628_f30f8x.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242783/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0638_u6pjhy.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242783/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0652_kmekof.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242784/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0675_d0wd8o.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242785/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0699_fauake.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242787/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0740_irzvwp.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242784/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0741_scof2h.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242787/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0742-Edit_n5uehs.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242789/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0748-Edit_bgvy8x.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242795/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0767_tovvwr.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242792/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0769_b2pci1.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242796/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0776_kn64ir.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242792/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0783_hrlwva.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242793/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0793_ypdwai.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242794/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0822_rifmyk.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242796/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0860_knmm1q.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242794/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0863_oizzmc.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242794/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0877_ip3qoq.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242795/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0879_omnukb.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242796/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0886_nbidia.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242796/studiophotocreation/cypriot-weddings/maria-andreas/SPC_0888_uodxcn.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242799/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1058_nplfvl.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242797/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1064_xwss08.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242799/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1179_ch8f7k.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242799/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1198_yg7ssl.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242803/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1213_mjq93l.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242806/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1216_etmqk2.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242799/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1230_vgi03e.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242801/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1232_y5wkhu.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242806/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1237_u6kibb.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242807/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1241_ve0vg7.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242803/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1258_wfucxv.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242803/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1273_dsyq5a.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242809/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1295_jydwml.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242809/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1300_n8jo77.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242807/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1310_goi9s8.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>