<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Maria's and Andrea's wedding in Paphos, Cyprus">
        <title>Maria and Andreas wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0012.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0019.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0029.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0039.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0041.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0054.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0067.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0072.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0080.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0086.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0090.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0093.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0096.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0098.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0099.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0126.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0134.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0142.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0204.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0219.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0351.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0377.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0412.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0440.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0446.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0451.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0462.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0468.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0488.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0490.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0494.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0499.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0507.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0516.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0522.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0537.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0557.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0560.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0625.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0628.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0638.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0652.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0675.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0699.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0740.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0741.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0742-Edit.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0748-Edit.webp"
                        loading="lazy" alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0767.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0769.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0776.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0783.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0793.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0822.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0860.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0863.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0877.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0879.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0886.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_0888.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1058.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1064.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1179.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1198.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1213.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1216.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1230.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1232.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1237.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1241.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1258.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1273.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1295.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1300.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1310.webp" loading="lazy"
                        alt="A photo from Maria's and Andreas's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>