<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Marilia's christening">
        <title>Marilia's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/001-002.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/003-004.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/005-006.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/007-008.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/009-010.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/011-012.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/013-014.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/015-016.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/017-018.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/019-020.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/021-022.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/023-024.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/025-026.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/027-028.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/029-030.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/031-032.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/033-034.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/035-036.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/037-038.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/039-040.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/041-042.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/043-044.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/045-046.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/047-048.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/049-050.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Marilia/051-052.webp" loading="lazy"
                        alt="A photo from Marilia's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>