<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Marilia's christening">
        <title>Marilia's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244872/studiophotocreation/christenings/marilia/001-002_cki6uq.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244978/studiophotocreation/christenings/marilia/003-004_ojgbch.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244976/studiophotocreation/christenings/marilia/005-006_h3xgcf.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244982/studiophotocreation/christenings/marilia/007-008_veb4pr.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244978/studiophotocreation/christenings/marilia/009-010_tgsisc.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244982/studiophotocreation/christenings/marilia/011-012_rqziij.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244977/studiophotocreation/christenings/marilia/013-014_lija3e.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244978/studiophotocreation/christenings/marilia/015-016_obmw2u.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244979/studiophotocreation/christenings/marilia/017-018_ugmkb6.webp"
                        alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244983/studiophotocreation/christenings/marilia/019-020_yzbjj1.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244984/studiophotocreation/christenings/marilia/021-022_qar8wm.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244980/studiophotocreation/christenings/marilia/023-024_cu69eh.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244982/studiophotocreation/christenings/marilia/025-026_qpheik.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244984/studiophotocreation/christenings/marilia/027-028_aolppd.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244986/studiophotocreation/christenings/marilia/029-030_xq5vxe.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244989/studiophotocreation/christenings/marilia/031-032_rgzgl9.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244985/studiophotocreation/christenings/marilia/033-034_clplqm.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244987/studiophotocreation/christenings/marilia/035-036_qpb6d0.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244987/studiophotocreation/christenings/marilia/037-038_rw6h6h.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244990/studiophotocreation/christenings/marilia/039-040_c41r7w.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244992/studiophotocreation/christenings/marilia/041-042_tw41yk.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244990/studiophotocreation/christenings/marilia/043-044_ba12ks.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244991/studiophotocreation/christenings/marilia/045-046_kvrdgw.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244990/studiophotocreation/christenings/marilia/047-048_mwycrq.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244993/studiophotocreation/christenings/marilia/049-050_mtd2cf.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244992/studiophotocreation/christenings/marilia/051-052_sejgrz.webp"
                        loading="lazy" alt="A photo from Marilia's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>