<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Maria's christening">
        <title>Maria's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244838/studiophotocreation/christenings/maria/1_oszwqv.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244838/studiophotocreation/christenings/maria/001-002_bda8i0.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244839/studiophotocreation/christenings/maria/003-004_klsebo.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244840/studiophotocreation/christenings/maria/005-006_d4ijrx.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244840/studiophotocreation/christenings/maria/007-008_gfhy95.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244842/studiophotocreation/christenings/maria/009-010_xazhq3.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244841/studiophotocreation/christenings/maria/011-012_ajkcbj.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244842/studiophotocreation/christenings/maria/013-014_kz2zdo.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244843/studiophotocreation/christenings/maria/015-016_c3dlbv.webp"
                        alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244843/studiophotocreation/christenings/maria/017-018_qf4sqx.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244843/studiophotocreation/christenings/maria/019-020_vxdhre.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244845/studiophotocreation/christenings/maria/021-022_y4xktg.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244844/studiophotocreation/christenings/maria/023-024_amztqt.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244847/studiophotocreation/christenings/maria/025-026_qcyyq7.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244848/studiophotocreation/christenings/maria/027-028_pqmyir.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244847/studiophotocreation/christenings/maria/029-030_bob6cb.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244847/studiophotocreation/christenings/maria/031-032_e5iiz3.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244847/studiophotocreation/christenings/maria/033-034_es0fxg.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244848/studiophotocreation/christenings/maria/035-036_epi1qc.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244852/studiophotocreation/christenings/maria/037-038_u1wal5.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244850/studiophotocreation/christenings/maria/039-040_zov1oc.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244850/studiophotocreation/christenings/maria/041-042_i3yytt.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244850/studiophotocreation/christenings/maria/043-044_frqsgq.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244851/studiophotocreation/christenings/maria/045-046_brsxqo.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244853/studiophotocreation/christenings/maria/047-048_aikyv2.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244851/studiophotocreation/christenings/maria/049-050_lj4ery.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244852/studiophotocreation/christenings/maria/051-052_pewwws.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244853/studiophotocreation/christenings/maria/053-054_yef1ho.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244853/studiophotocreation/christenings/maria/055-056_sb841s.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244853/studiophotocreation/christenings/maria/057-058_tsnqoj.webp"
                        loading="lazy" alt="A photo from Maria's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>