<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description" content="A complete photography of Styliano's christening">
        <title>Styliano's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="transition transition-1 is-active">
        <img class="img-logo" src="/assets/logo-black.png">
    </div>
    <header>
        <nav role="navigation" aria-label="main navigation">
            <a class="title-logo" href="/">Dimitris Domouchtsis</a>
            <ul class="navbar">
                <li><a id="home" class="active" href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-photogrid">
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/001-002.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/003-004.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/005-006.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/007-008.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/009-010.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/011-012.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/013-014.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/015-016.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/017-018.webp"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/019-020.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/021-022.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/023-024.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/025-026.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/027-028.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/029-030.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/031-032.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/033-034.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/035-036.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/037-038.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/039-040.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/041-042.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/043-044.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/045-046.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/047-048.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/049-050.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/051-052.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/053-054.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/055-056.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/057-058.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/059-060.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Christenings/Stylianos/061-062.webp" loading="lazy"
                    alt="A photo from Styliano's christening">
            </div>
        </section>

        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content">
        </div>
    </main>
    <footer>
        <p>Copyright © 2021 Photography Dimitris Domouchtsis/Studio Photo Creation</p>
        <p>This website uses Google Analytics</p>
        <p class="sign">Created by <a href="https://www.vasiliszisis.me/">Vasilis Zisis</a></p>
    </footer>
    <script src="/main.js"></script>
</body>

</html>