<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Styliano's christening">
        <title>Styliano's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245012/studiophotocreation/christenings/stylianos/001-002_l1g1oa.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245217/studiophotocreation/christenings/stylianos/003-004_xr4rmi.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245280/studiophotocreation/christenings/stylianos/005-006_rlquba.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245312/studiophotocreation/christenings/stylianos/007-008_ppj6s1.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245321/studiophotocreation/christenings/stylianos/009-010_frcwui.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245322/studiophotocreation/christenings/stylianos/011-012_g179dx.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245325/studiophotocreation/christenings/stylianos/013-014_tey1bo.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245324/studiophotocreation/christenings/stylianos/015-016_hly0dv.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245327/studiophotocreation/christenings/stylianos/017-018_kyhhs3.webp"
                        alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245325/studiophotocreation/christenings/stylianos/019-020_om9vws.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245325/studiophotocreation/christenings/stylianos/021-022_ztg4mp.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245328/studiophotocreation/christenings/stylianos/023-024_hzwgtc.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245327/studiophotocreation/christenings/stylianos/025-026_z5inod.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245327/studiophotocreation/christenings/stylianos/027-028_txagzy.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245331/studiophotocreation/christenings/stylianos/029-030_hppbbs.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245328/studiophotocreation/christenings/stylianos/031-032_wiqqhc.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245329/studiophotocreation/christenings/stylianos/033-034_nrkcbn.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245330/studiophotocreation/christenings/stylianos/035-036_jr9wm3.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245334/studiophotocreation/christenings/stylianos/037-038_ptr5zn.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245331/studiophotocreation/christenings/stylianos/039-040_qcjcxs.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245333/studiophotocreation/christenings/stylianos/041-042_hpcyuo.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245331/studiophotocreation/christenings/stylianos/043-044_rbx2qv.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245332/studiophotocreation/christenings/stylianos/045-046_rjj2a2.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245334/studiophotocreation/christenings/stylianos/047-048_cyzb6m.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245335/studiophotocreation/christenings/stylianos/049-050_i16mzu.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245333/studiophotocreation/christenings/stylianos/051-052_kuzpsl.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245336/studiophotocreation/christenings/stylianos/053-054_xgyocx.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245337/studiophotocreation/christenings/stylianos/055-056_dmykkp.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245336/studiophotocreation/christenings/stylianos/057-058_sfe4mj.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245337/studiophotocreation/christenings/stylianos/059-060_m8cra0.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245336/studiophotocreation/christenings/stylianos/061-062_iw4lki.webp"
                        loading="lazy" alt="A photo from Styliano's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>