<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Victoria's christening">
        <title>Victoria's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/0001.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/001-002.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/003-004.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/005-006.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/007-008.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/009-010.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/011-012.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/013-014.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/015-016.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/017-018.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/019-020.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/021-022.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/023-024.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/025-026.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/027-028.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/029-030.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/031-032.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/033-034.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/035-036.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/037-038.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/039-040.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/041-042.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/043-044.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/045-046.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/047-048.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Christenings/Victoria/049-050.webp" loading="lazy"
                        alt="A photo from Victoria's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>