<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Hara's christening">
        <title>Xara's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245385/studiophotocreation/christenings/xara/001-002_iz5x9z.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245385/studiophotocreation/christenings/xara/003-004_tgxrmv.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245385/studiophotocreation/christenings/xara/005-006_e6fnlf.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245385/studiophotocreation/christenings/xara/007-008_irrph0.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245388/studiophotocreation/christenings/xara/009-010_evihip.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245389/studiophotocreation/christenings/xara/011-012_jdce2k.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245387/studiophotocreation/christenings/xara/013-014_sj9gnz.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245387/studiophotocreation/christenings/xara/015-016_vqnz8m.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245388/studiophotocreation/christenings/xara/017-018_gmho5k.webp"
                        alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245389/studiophotocreation/christenings/xara/019-020_ajejtf.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245391/studiophotocreation/christenings/xara/021-022_zbupwz.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245391/studiophotocreation/christenings/xara/023-024_tmnq73.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245390/studiophotocreation/christenings/xara/025-026_dafjta.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245392/studiophotocreation/christenings/xara/027-028_bfbzge.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245393/studiophotocreation/christenings/xara/029-030_ouiqqs.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245395/studiophotocreation/christenings/xara/031-032_qjja5s.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245393/studiophotocreation/christenings/xara/033-034_edxrwx.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245396/studiophotocreation/christenings/xara/035-036_upkmui.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245398/studiophotocreation/christenings/xara/037-038_nrx90e.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245395/studiophotocreation/christenings/xara/039-040_czzj3l.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245396/studiophotocreation/christenings/xara/041-042_mrnbrv.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245396/studiophotocreation/christenings/xara/043-044_ebr7gv.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245397/studiophotocreation/christenings/xara/045-046_njknwq.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245400/studiophotocreation/christenings/xara/047-048_vrgkqn.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245397/studiophotocreation/christenings/xara/049-050_zdx73y.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245398/studiophotocreation/christenings/xara/051-052_nej6zy.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245398/studiophotocreation/christenings/xara/053-054_k5uvma.webp"
                        loading="lazy" alt="A photo from Xara's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>