<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of englist weddings in 2019">
        <title>2019 English Weddings - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/DJI_0034.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/DJI_0030.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/DJI_0032.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/DJI_0037.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0001.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0004.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0009.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0012.webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0013 (2).webp"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0013.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0017 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0017.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0018.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0019.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0020.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0022.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0023 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0023 (3).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0023.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0024.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0025.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0027.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0028.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0031-2.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0031.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0032.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0033.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0034.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0035.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0036.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0037 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0037.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0037.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0038.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0040.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0041.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0042.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0043.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0045.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0046.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0047 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0047.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0048.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0050.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0052.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0053.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0054.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0055.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0056.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0057.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0058.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0063.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0066.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0068.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0070.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0072 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0072.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0073.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0077-2.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0077.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0080-2.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0080.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0081.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0082-2.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0082.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0085.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0087.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0088.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0089.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0090.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0091.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0094.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0095 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0095 (3).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0095.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0096.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0097.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0098.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0099.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0101.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0102.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0104.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0107.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0108.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0109.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0112 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0112.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0113 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0113.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0114.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0115.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0116.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0117 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0117.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0119 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0119.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0122.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0123 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0123.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0124.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0132.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0136.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0132.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0137 (2).webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0137.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/English-Weddings/2019/SPC_0141.webp" loading="lazy"
                        alt="Photo from 2019's english weddings">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>