<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description" content="A complete photography of kristen's and James's wedding in Paphos, Cyprus">
        <title>Kristen and James wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="transition transition-1 is-active">
        <img class="img-logo" src="/assets/logo-black.png">
    </div>
    <header>
        <nav role="navigation" aria-label="main navigation">
            <a class="title-logo" href="/">Dimitris Domouchtsis</a>
            <ul class="navbar">
                <li><a id="home" class="active" href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-photogrid">
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0014.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0018.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0020.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0030.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0037.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0043.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0146.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0149.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0153.webp"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0172.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0174.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0176.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0177.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0186.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0192.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0218.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0224.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0233.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0241.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0244.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0246.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0248.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0253.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0254.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0257.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0260.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0261.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0266.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0286.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0295.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0297.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0300.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0314.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0318.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0326.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0349.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0496.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0498.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0509.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0510.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0514.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0516.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0518.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0522.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0530.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0535.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0550.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0552.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0555.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0562.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0566.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0567.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0569.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0577.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0582.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0596.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0609.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0616.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0621.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0622.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0627.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0628.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0662.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0666.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0703.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0709.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0714.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0871.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0875.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0878.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/English-Weddings/Kristen-James/SPC_0885.webp" loading="lazy"
                    alt="A photo from Kristen's and James's wedding">
            </div>
        </section>

        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content">
        </div>
    </main>
    <footer>
        <p>Copyright © 2021 Photography Dimitris Domouchtsis/Studio Photo Creation</p>
        <p>This website uses Google Analytics</p>
        <p class="sign">Created by <a href="https://www.vasiliszisis.me/">Vasilis Zisis</a></p>
    </footer>
    <script src="/main.js"></script>
</body>

</html>