<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Amy's and Daniel's wedding in Paphos, Cyprus">
        <title>Amy's and Daniel's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 1.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 2.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 3.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 4.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 5.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 6.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 7.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 8.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 9.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 10.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 11.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 12.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 13.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 14.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 15.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 16.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 17.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 18.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 19.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 20.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Amy-Daniel/AMY DANIEL 21.webp" loading="lazy"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>