<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Amy's and Daniel's wedding in Paphos, Cyprus">
        <title>Amy's and Daniel's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243403/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_1_vdn7dd.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243400/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_2_wvwjqk.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243403/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_3_ocg6te.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243403/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_4_cqwztg.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243402/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_5_e8h9f6.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243398/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_6_odlv05.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243406/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_7_tm1fsj.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243410/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_8_knjpop.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243407/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_9_sssqkt.webp"
                        alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243411/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_10_vthtps.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243407/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_11_dsrtby.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243408/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_12_mk2qqy.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243411/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_13_qztlzr.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243413/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_14_uur3xp.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243410/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_15_inbqtm.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243412/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_16_mtyvve.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243415/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_17_spsjia.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243415/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_18_x4vevr.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243417/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_19_ahwmyu.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243417/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_20_qmiekd.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243417/studiophotocreation/wedding-stories/amy-daniel/AMY_DANIEL_21_eskpbj.webp"
                        loading="lazy" alt="A photo from Amy's and Daniel's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>