<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of David's and Beth's wedding in Paphos, Cyprus">
        <title>David's and Beth's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 1.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 2.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 3.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 4.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 5.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 6.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 7.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 8.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 9.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 10.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 11.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 12.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 13.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 14.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 15.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 16.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 17.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 18.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 19.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 20.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Beth-David/DAVID BETH 21.webp" loading="lazy"
                        alt="A photo from Beth's and David's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>