<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of David's and Beth's wedding in Paphos, Cyprus">
        <title>David's and Beth's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243448/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_1_os75qk.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243451/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_2_la7ppg.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243447/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_3_iuqbd8.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243452/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_4_pcenk4.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243444/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_5_gn1vbv.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243446/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_6_sxrrzj.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243446/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_7_ign8kn.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243450/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_8_y7tvhl.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243448/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_9_prd2pn.webp"
                        alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243456/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_10_tto81d.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243450/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_11_ev7msv.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243456/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_12_bfxyzp.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243455/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_13_kkdilk.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243456/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_14_qpb0he.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243457/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_15_wletcg.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243457/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_16_fjkuci.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243458/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_17_wxf3xh.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243459/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_18_pb4jpt.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243460/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_19_kl0wh6.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243459/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_20_sjzule.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243460/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_21_fregoe.webp"
                        loading="lazy" alt="A photo from Beth's and David's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>