<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Matthew's and Farrah's wedding in Paphos, Cyprus">
        <title>Matthew's and Farrah's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243484/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_1_sbd6vw.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243484/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_2_iluko3.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243484/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_3_gl3rfr.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243484/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_4_gxpwzv.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243484/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_5_i3osvz.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243486/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_6_b00dbc.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243487/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_7_vfdy1b.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243486/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_8_eiqsk4.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243486/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_9_gxwcsh.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243488/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_10_s8btl3.webp"
                        loading="lazy" alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243488/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_11_iujj4c.webp"
                        loading="lazy" alt="A photo from Farrah's and Matthew's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243487/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_12_eakdbm.webp"
                        loading="lazy" alt="A photo from Farrah's and Matthew's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>