<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Gemma's and Kane's wedding in Paphos, Cyprus">
        <title>Gemma's and Kane's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 1.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 2.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 3.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 4.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 5.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 6.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 7.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 8.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 9.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 10.webp" loading="lazy"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 11.webp" loading="lazy"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 12.webp" loading="lazy"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Gemma-Kane/GEMMA KANE 13.webp" loading="lazy"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>