<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Gemma's and Kane's wedding in Paphos, Cyprus">
        <title>Gemma's and Kane's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243504/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_1_lsclgd.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243506/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_2_iwzne0.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243508/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_3_h54stv.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243506/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_4_sz7dsu.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243506/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_5_dx70or.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243508/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_6_hweqzd.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243507/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_7_h5rja3.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243508/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_8_eol9xh.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243508/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_9_yngvd9.webp"
                        alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243509/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_10_fyqrk4.webp"
                        loading="lazy" alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243509/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_11_fkibax.webp"
                        loading="lazy" alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243509/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_12_ni8sth.webp"
                        loading="lazy" alt="A photo from Gemma's and Kane's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243509/studiophotocreation/wedding-stories/gemma-kane/GEMMA_KANE_12_ni8sth.webp"
                        loading="lazy" alt="A photo from Gemma's and Kane's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>