<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Carl's and Jemma's wedding in Paphos, Cyprus">
        <title>Carl's and Jemma's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 1.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 2.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 3.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 4.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 5.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 6.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 6A.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 7.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 8.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 9.webp" loading="lazy"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 10.webp" loading="lazy"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 11.webp" loading="lazy"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 13.webp" loading="lazy"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>