<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Scott's and Katrina's wedding in Paphos, Cyprus">
        <title>Scott's and Katrina's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 1.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 2.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 3.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 4.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 5.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 6.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 7.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 8.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 9.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 10.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 11.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 12.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 13.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 14.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 15.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 16.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 17.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>