<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Simon's and Lauren's wedding in Paphos, Cyprus">
        <title>Simon's and Lauren's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 1.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 2.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 3.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 4.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 5.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 6.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 7.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 8.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 9.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 10.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 11.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 12.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 13.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 14.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 15.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 16.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 17.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 18.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 19.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 20.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 21.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lauren-Simon/Simon & Lauren 22.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>