<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description" content="A complete photography of Laura's and Leigh's wedding in Paphos, Cyprus">
        <title>Laura's and Leigh's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="transition transition-1 is-active">
        <img class="img-logo" src="/assets/logo-black.png">
    </div>
    <header>
        <nav role="navigation" aria-label="main navigation">
            <a class="title-logo" href="/">Dimitris Domouchtsis</a>
            <ul class="navbar">
                <li><a id="home" class="active" href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-photogrid">
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 1.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 2.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 3.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 4.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 5.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 6.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 7.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 8.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 9.webp"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 10.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 11.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 12.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 13.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 14.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 15.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 16.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 17.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 18.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 19.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 20.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 21.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 22.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 23.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 24.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 25.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 26.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 27.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
            <div class="div-photo">
                <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 28.webp" loading="lazy"
                    alt="A photo from Laura's and Leigh's wedding">
            </div>
        </section>

        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content">
        </div>
    </main>
    <footer>
        <p>Copyright © 2021 Photography Dimitris Domouchtsis/Studio Photo Creation</p>
        <p>This website uses Google Analytics</p>
        <p class="sign">Created by <a href="https://www.vasiliszisis.me/">Vasilis Zisis</a></p>
    </footer>
    <script src="/main.js"></script>
</body>

</html>