<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Simon's and Lauren's wedding in Paphos, Cyprus">
        <title>Simon's and Lauren's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243768/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_1_a83rs2.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243768/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_2_s9o9ai.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243769/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_3_rt1sql.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243769/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_4_cfcekw.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243770/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_5_s1x6dj.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243769/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_6_ee3cvh.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243772/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_7_utfat6.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243772/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_8_qgfrvz.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243775/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_9_fpjyqh.webp"
                        alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243779/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_10_azewyt.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243775/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_11_cm1lbi.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243781/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_12_m36c6i.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243785/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_13_zdhs44.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243775/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_14_cnscaa.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243779/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_15_ccoi5a.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243783/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_16_kuxfbk.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243784/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_17_h2nnyt.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243786/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_18_rk9ftz.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243786/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_19_x6jynk.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243787/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_20_wqbeah.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243787/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_21_yfffov.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243786/studiophotocreation/wedding-stories/lauren-simon/Simon_Lauren_22_xgzgj3.webp"
                        loading="lazy" alt="A photo from Lauren's and Simon's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>