<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Ben's and Lauren's wedding in Paphos, Cyprus">
        <title>Ben's and lauren's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243743/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_1_kmokgd.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243746/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_2_q6abht.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243743/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_3_kymyxz.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243743/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_4_hen3o6.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243748/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_5_jlfzxn.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243743/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_6_fazyr8.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243745/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_7_korngx.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243746/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_8_yce0ax.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243745/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_9_lbn0ly.webp"
                        alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243746/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_10_tmcrsv.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243750/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_11_xt438a.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243748/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_12_z4nuc2.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243748/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_13_wuszpp.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243748/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_14_akb7wr.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243750/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_15_akmzi7.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243751/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_16_nnejjw.webp"
                        loading="lazy" alt="A photo from Laura's and Ben's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>