<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Laura's and Roberts's wedding in Paphos, Cyprus">
        <title>Laura's and Robert's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 1.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 2.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 3.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 4.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 5.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 6.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 7.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 8.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 9.webp"
                        alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 10.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 11.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 12.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 13.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 14.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 15.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 16.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 17.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 18.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 19.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 20.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 21.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 22.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 23.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 24.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 25.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 26.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 27.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 28.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 29.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 30.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 31.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 32.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 33.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 34.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 35.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 36.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 37.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 38.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 39.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 40.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 41.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 42.webp"
                        loading="lazy" alt="A photo from Laura's and Robert's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>