<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Lisa's and Darren's wedding in Paphos, Cyprus">
        <title>Lisa's and Darren's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 1.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 2.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 3.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 4.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 5.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 6.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 7.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 8.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 9.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 10.webp" loading="lazy"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 11.webp" loading="lazy"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 12.webp" loading="lazy"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 13.webp" loading="lazy"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 14.webp" loading="lazy"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>