<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Lisa's and Darren's wedding in Paphos, Cyprus">
        <title>Lisa's and Darren's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243813/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_1_urnfmu.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243810/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_2_hnd9hv.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243809/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_3_bsbvdv.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243815/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_4_aygpxq.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243810/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_5_blmejo.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243819/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_6_beztxi.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243814/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_7_nfgv2m.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243815/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_8_srxhoq.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243820/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_9_gast13.webp"
                        alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243816/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_10_nkjhok.webp"
                        loading="lazy" alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243821/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_11_g0ycjo.webp"
                        loading="lazy" alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243819/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_12_yv5oow.webp"
                        loading="lazy" alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243820/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_13_sqvzad.webp"
                        loading="lazy" alt="A photo from Lisa's and Darren's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243819/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_14_rajcdn.webp"
                        loading="lazy" alt="A photo from Lisa's and Darren's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>