<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Aaron's and Stacey's wedding in Paphos, Cyprus">
        <title>Aaron's and Stacey's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243845/studiophotocreation/wedding-stories/stacey-aaron/SPC_0023_gjf6yb.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243845/studiophotocreation/wedding-stories/stacey-aaron/SPC_0030_n8jrld.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243842/studiophotocreation/wedding-stories/stacey-aaron/SPC_0032_emgm12.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243845/studiophotocreation/wedding-stories/stacey-aaron/SPC_0039_g8zrwa.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243847/studiophotocreation/wedding-stories/stacey-aaron/SPC_0050_cght7q.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243844/studiophotocreation/wedding-stories/stacey-aaron/SPC_0068_fezees.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243847/studiophotocreation/wedding-stories/stacey-aaron/SPC_0071_sq1pws.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243848/studiophotocreation/wedding-stories/stacey-aaron/SPC_0074_irnjax.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243846/studiophotocreation/wedding-stories/stacey-aaron/SPC_0087_fospig.webp"
                        alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243847/studiophotocreation/wedding-stories/stacey-aaron/SPC_0091_exgpcv.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243850/studiophotocreation/wedding-stories/stacey-aaron/SPC_0096_qotkxg.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243848/studiophotocreation/wedding-stories/stacey-aaron/SPC_0106_a3bxdu.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243850/studiophotocreation/wedding-stories/stacey-aaron/SPC_0109_ziouvd.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243857/studiophotocreation/wedding-stories/stacey-aaron/SPC_0114_smfksc.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243852/studiophotocreation/wedding-stories/stacey-aaron/SPC_0134_drvl23.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243856/studiophotocreation/wedding-stories/stacey-aaron/SPC_0143_q5wys8.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243854/studiophotocreation/wedding-stories/stacey-aaron/SPC_0158_lh4bfj.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243855/studiophotocreation/wedding-stories/stacey-aaron/SPC_0161_oejmpv.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243860/studiophotocreation/wedding-stories/stacey-aaron/SPC_0162_xvtx0x.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243859/studiophotocreation/wedding-stories/stacey-aaron/SPC_0163_q0ybxa.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243858/studiophotocreation/wedding-stories/stacey-aaron/SPC_0166_dqsx52.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243859/studiophotocreation/wedding-stories/stacey-aaron/SPC_0168_enqsyh.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0175_omxaqi.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243858/studiophotocreation/wedding-stories/stacey-aaron/SPC_0189_otmlp8.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243859/studiophotocreation/wedding-stories/stacey-aaron/SPC_0193_frgjok.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243862/studiophotocreation/wedding-stories/stacey-aaron/SPC_0200_kyldve.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243861/studiophotocreation/wedding-stories/stacey-aaron/SPC_0201_mu2ulq.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243865/studiophotocreation/wedding-stories/stacey-aaron/SPC_0224_iwxjvn.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243863/studiophotocreation/wedding-stories/stacey-aaron/SPC_0279_qjldxe.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243863/studiophotocreation/wedding-stories/stacey-aaron/SPC_0282_zeabqw.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243864/studiophotocreation/wedding-stories/stacey-aaron/SPC_0286_zje8gi.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243864/studiophotocreation/wedding-stories/stacey-aaron/SPC_0288_tksasu.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243865/studiophotocreation/wedding-stories/stacey-aaron/SPC_0295_edhhxy.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243865/studiophotocreation/wedding-stories/stacey-aaron/SPC_0304_jluxl2.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0339_jsmfdp.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243866/studiophotocreation/wedding-stories/stacey-aaron/SPC_0341_f7o3ju.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243867/studiophotocreation/wedding-stories/stacey-aaron/SPC_0351_nucky9.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0353_fpnrwk.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0354_leioi2.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0358_szy6gp.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243869/studiophotocreation/wedding-stories/stacey-aaron/SPC_0363_wyc2hj.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243870/studiophotocreation/wedding-stories/stacey-aaron/SPC_0372_uketma.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243869/studiophotocreation/wedding-stories/stacey-aaron/SPC_0376_h4aupt.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243871/studiophotocreation/wedding-stories/stacey-aaron/SPC_0382_nryz4n.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243869/studiophotocreation/wedding-stories/stacey-aaron/SPC_0385_hzj4st.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243871/studiophotocreation/wedding-stories/stacey-aaron/SPC_0388_t1h4we.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243871/studiophotocreation/wedding-stories/stacey-aaron/SPC_0390_ykehzi.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243871/studiophotocreation/wedding-stories/stacey-aaron/SPC_0391_aj5bzs.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243872/studiophotocreation/wedding-stories/stacey-aaron/SPC_0393_fqjjyt.webp"
                        loading="lazy" alt="A photo from Stacey's and Aaron's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>