<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="A complete list of christenings, from wedding photographer Dimitris Domouchtsis">
        <title>Christenings - Studio Photo Creation by D</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0774_kwvfaq.webp"
                            alt="A photo from Agapi's christening">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245916/studiophotocreation/001-002a_lbopxb.webp"
                            alt="A photo from Ioanna's christening">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245917/studiophotocreation/001-002b_jqeehk.webp"
                            alt="A photo from Maria's christening">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/agapi">Agapi</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/ioanna">Ioanna</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/maria">Maria</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/marilia">Marilia</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/stylianos">Stylianos</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/victoria">Victoria</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/christenings/xara/">Xara</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0774_kwvfaq.webp"
                                alt="A photo from Agapi's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/agapi">Agapi</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245916/studiophotocreation/001-002a_lbopxb.webp"
                                alt="A photo from Ioanna's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/ioanna">Ioanna</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245917/studiophotocreation/001-002b_jqeehk.webp"
                                alt="A photo from Maria's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/maria">Maria</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245995/studiophotocreation/049-050b_avfs9m.webp"
                                alt="A photo from Marilia's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/marilia">Marilia</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245995/studiophotocreation/001-002c_nposfn.webp"
                                alt="A photo from Styliano's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/stylianos">Stylianos</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246023/studiophotocreation/001-002d_qzenqj.webp"
                                alt="A photo from Victoria's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/victoria">Victoria</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246022/studiophotocreation/049-050a_aqhqda.webp"
                                alt="A photo from Xara's christening">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/christenings/xara/">Xara</a>
                        </div>
                    </div>
                </div>
                <div class="right-portfolio">
                    <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246022/studiophotocreation/049-050a_aqhqda.webp"
                            alt="A photo from Marilia's christening">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245995/studiophotocreation/001-002c_nposfn.webp"
                            alt="A photo from Styliano's christening">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246023/studiophotocreation/001-002d_qzenqj.webp"
                            alt="A photo from Victoria's christening">
                    </figure>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>