<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description"
            content="A complete list of cypriot weddings from wedding photographer Dimitris Domouchtsis">
        <title>Cypriot Weddings - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="transition transition-1 is-active">
        <img class="img-logo" src="/assets/logo-black.png">
    </div>

    <nav role="navigation">
        <a class="title-logo" href="/">Dimitris Domouchtsis</a>
        <ul class="navbar">
            <li><a id="home" class="active" href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        <section class="main-portfolio">
            <div class="left-portfolio">
                <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                    <img src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1720.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </figure>
                <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                    <img src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1064.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </figure>
                <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                    <img src="/assets/Cypriot-Weddings/Christina-Andreas/SPC_2340.webp"
                        alt="A photo from Christina's and Andreas's wedding">
                </figure>
            </div>
            <div class="middle-portfolio">
                <div class="text-portfolio">
                    <a class="categories-button"
                        href="/portfolio/cypriot-weddings/christina-andreas">Christina-Andreas</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/jennifer-xaris">Jennifer-Xaris</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/kata-andreas">Kata-Andreas</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/kristia-alexis">Kristia-Alexis</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/maria-andreas">Maria-Andreas</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/maria-lampros">Maria-Lampros</a>
                </div>
            </div>
            <div class="middle-portfolio-750px">
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="/assets/Cypriot-Weddings/Christina-Andreas/SPC_2340.webp"
                            alt="A photo from Christina's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button"
                            href="/portfolio/cypriot-weddings/christina-andreas">Christina-Andreas</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img" src="/assets/Cypriot-Weddings/Jennifer-Xaris/SPC_0713.webp"
                            alt="A photo from Jennifer's and Xaris's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button"
                            href="/portfolio/cypriot-weddings/jennifer-xaris">Jennifer-Xaris</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img" src="/assets/Cypriot-Weddings/Kata-Andreas/SPC_1720.webp"
                            alt="A photo from Kata's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings/kata-andreas">Kata-Andreas</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img" src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2059.webp"
                            alt="A photo from Kristia's and Alexis's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button"
                            href="/portfolio/cypriot-weddings/kristia-alexis">Kristia-Alexis</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img" src="/assets/Cypriot-Weddings/Maria-Andreas/SPC_1064.webp"
                            alt="A photo from Maria's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings/maria-andreas">Maria-Andreas</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img" src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_0895.webp"
                            alt="A photo from Maria's and Lampros's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings/maria-lampros">Maria-Lampros</a>
                    </div>
                </div>
            </div>
            <div class="right-portfolio">
                <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                    <img src="/assets/Cypriot-Weddings/Kristia-Alexis/SPC_2059.webp"
                        alt="A photo from Kristia's and Andreas's wedding">
                </figure>
                <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                    <img src="/assets/Cypriot-Weddings/Maria-Lampros/SPC_0895.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </figure>
                <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                    <img src="/assets/Cypriot-Weddings/Jennifer-Xaris/SPC_0713.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </figure>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2021 Photography Dimitris Domouchtsis/Studio Photo Creation</p>
        <p>This website uses Google Analytics</p>
        <p class="sign">Created by <a href="https://www.vasiliszisis.me/">Vasilis Zisis</a></p>
    </footer>
    <script src="/main.js"></script>
</body>

</html>