<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="A complete list of english weddings from wedding photographer Dimitris Domouchtsis">
        <title>English Weddings - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="/assets/English-Weddings/Kristen-James/SPC_0885.webp"
                            alt="A photo from Kristen's and James's wedding">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/kristen-james">Kristen-James</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/2019">2019</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/English-Weddings/Kristen-James/SPC_0885.webp"
                                alt="A photo from Kristen's and James's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/kristen-james">Kristen-James</a>
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/english-weddings/2019">2019</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>