<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="A complete list of wedding mini stories from wedding photographer Dimitris Domouchtsis">
        <title>Wedding Mini Stories - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="/assets/Wedding-Stories/Beth-David/DAVID BETH 16.webp"
                            alt="A photo from Beth's and David's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                        <img src="/assets/Wedding-Stories/Farrah-Matthew/MATHEW FARRAH 9.webp"
                            alt="A photo from Farrah's and Matthew's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                        <img src="/assets/Wedding-Stories/Jade-Craig/JADE CRAIG 1.webp"
                            alt="A photo from Jade's and Craig's wedding">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/amy-daniel">Amy-Daniel</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/beth-david">Beth-David</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/farrah-matthew">Farrah-Matthew</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/gemma-kane">Gemma-Kane</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/jade-craig">Jade-Craig</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/jemma-carl">Jemma-Carl</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/katrina-scott">katrina-scott</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/laura-leigh">laura-leigh</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/laura-robert">laura-robert</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/lauren-ben">lauren-ben</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/lauren-simon">lauren-simon</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/lisa-darren">lisa-darren</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/wedding-stories/stacey-aaron">stacey-aaron</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img" src="/assets/AMY DANIEL 7a.webp"
                                alt="A photo from Amy's and Daniel's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/amy-daniel">Amy-Daniel</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Beth-David/DAVID BETH 16.webp"
                                alt="A photo from Beth's and David's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/beth-david">Beth-David</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Farrah-Matthew/MATHEW FARRAH 9.webp"
                                alt="A photo from Farrah's and Matthew's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/wedding-stories/farrah-matthew">Farrah-Matthew</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img" src="/assets/GEMMA KANE 5a.webp"
                                alt="A photo from Gemma's and Kane's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/gemma-kane">Gemma-Kane</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Jade-Craig/JADE CRAIG 1.webp"
                                alt="A photo from Jade's and Craig's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/jade-craig">Jade-Craig</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 13.webp"
                                alt="A photo from Jemma's and Carl's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/jemma-carl">Jemma-Carl</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 1.webp"
                                alt="A photo from Katrina's and Scott's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/wedding-stories/katrina-scott">katrina-scott</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 26.webp"
                                alt="A photo from Laura's and Leigh's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/laura-leigh">laura-leigh</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Laura-Robert/LAURA ROBERT 4.webp"
                                alt="A photo from Laura's and Robert's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/laura-robert">laura-robert</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Lauren-Ben/BEN & LAUREN 12.webp"
                                alt="A photo from Laura's and Ben's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/lauren-ben">lauren-ben</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img" src="/assets/Simon & Lauren 21a.webp"
                                alt="A photo from Lauren's and Simon's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/lauren-simon">lauren-simon</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="/assets/Wedding-Stories/Lisa-Darren/LISA DARREN 5.webp"
                                alt="A photo from Lisa's and Darren's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/lisa-darren">lisa-darren</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img" src="/assets/Wedding-Stories/Stacey-Aaron/SPC_0339.webp"
                                alt="A photo from Stacey's and Aaron's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/wedding-stories/stacey-aaron">stacey-aaron</a>
                        </div>
                    </div>
                </div>
                <div class="right-portfolio">
                    <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                        <img src="/assets/Wedding-Stories/Jemma-Carl/CARL JEMMA 13.webp"
                            alt="A photo from Jemma's and Carl's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                        <img src="/assets/Wedding-Stories/Katrina-Scott/scott katrina 1.webp"
                            alt="A photo from Katrina's and Scott's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                        <img src="/assets/Wedding-Stories/Laura-Leigh/LAURA LEIGH 26.webp"
                            alt="A photo from Laura's and Leigh's wedding">
                    </figure>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>